<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Ingresa a SOLNET</h1>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="form-group">
                        <label for="email">Correo Electronico:</label>
                        <input type="email" class="form-control" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña:</label>
                        <input type="password" class="form-control" formControlName="password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg">Ingresar</button>
                </form>
                <div class="form-group mt-3">
                    <p>Crear una cuenta? <a routerLink="/register"> Registro</a></p>
                </div>
                <div class="form-group mt-3">
                    <p>Olvidate tu contraseña? <a routerLink="/forgot-password"> Recuperar contraseña</a></p>
                </div>
            </div>
        </div>
    </div>
</div>