<div class="sidebar">
    <header>SOL NET</header>
    <ul class="text-center">
        <li style="color: white;"><a href="/"></a>Mis cuentas</li>
        <li style="color: white;"><a href="/"></a>Transferencia</li>
        <li style="color: white;"><a href="/"></a>Giros</li>
        <li style="color: white;"><a href="/"></a>Prestamos</li>
        <li style="color: white;"><a href="/"></a>Servicios</li>
        <li style="color: white;"><a href="/"></a>Mi perfil</li>
        <li style="color: white;"><a href="/"></a>Administracion de Limites</li>
    </ul>
</div>

<h1 class="text-center" style="color: tomato;">Bienvenido a SOL NET</h1>

<div class="container-fluid" style="margin-left: 260px; margin-top: 80px;">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">N° DE CUENTA</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">CAJA DE AHORRO</th>
            <th scope="col">TIPO DE MONEDA</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>200.35</td>
            <td>Bs</td>
        </tr>
        </tbody>
    </table>
</div>