<footer>
    <div class="footer-container">
        <div class="footer-main">
            <div class="footer-columna">
                <h4 class="colortitle"> Somos</h4>
                <img src="https://www.bancosol.com.bo/sites/all/themes/bancosol_theme/logo.png" style="width: 105px; height: 55px;">
                <p>Juntos Crecemos</p>
            </div>
            <div class="footer-columna">
                <h4 class="colortitle">Dolar BCB</h4>
                <h6>Venta/Compra BOB</h6>
                <h6>6,96/6,86</h6>
                <h4 class="colortitle">Banco Sol</h4>
                <h6>Venta/Compra BOB</h6>
                <h6>6,97/6,85</h6>
                <h4 class="colortitle">Tasa de Interes</h4>
                <h6>Tre MN/Tre ME</h6>
                <h6>2,86/0,84 %</h6>
                <h6 class="colortitle">HASTA EL 30-09-2020</h6>
            </div>
            <div class="footer-columna">
                <h4 class="colortitle">Suscribete</h4>
                <h6>El desafío de formar parte de nuestro equipo.</h6>
                <a class="btn btn-warning" routerLink="./ingresar" role="button">Suscribete</a>
            </div>
            <div class="footer-columna">
                <h4 class="colortitle">Direccion</h4>
                <span><p>Calle Nicolás Acosta No. 289</p></span>
                <span><p>FonoSol: 800-10-2929</p></span>
                <span><p>(591-2) 2176900</p></span>
                <span><p>"contacto2@bancosol.com.bo"</p></span>
            </div>
        </div>
    </div>
    <div class="footer-copy-redes text-center">
        <div class="main-copy-redes">
            <div class="footer-copy">
                &copy; 2020, Todos los derechos reservados - Banco Sol
            </div>
        </div>
    </div>
</footer>

